@font-face {
font-family: 'Circular Std Book';
font-style: normal;
font-weight: normal;
src: local('Circular Std Book'), url('CircularStd-Book.woff') format('woff');
src: local('Circular Std Book'), url('CircularStd-Book.ttf') format('truetype');
}


@font-face {
font-family: 'Circular Std Medium';
font-style: normal;
font-weight: bold;
src: local('Circular Std Medium'), url('CircularStd-Medium.woff') format('woff');
src: local('Circular Std Medium'), url('CircularStd-Medium.ttf') format('truetype');
}



strong{
  font-family: 'Circular Std Medium', 'Poppins' sans-serif;
  font-weight: bold;
}


body {
  font-family: 'Circular Std Book','Poppins', sans-serif;
  font-weight: normal;
}


ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

header nav {
  /*display: flex;
  justify-content: flex-end;*/
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 100px;
    border: 1px solid transparent;
  }

    .navbar-nav {
    position: relative;
    display: flex;
    align-items: center;
}

.sr-only{
  color:blue;
}

div > h1 {
  font-size: 1.8rem;
}

nav > p {
  cursor: pointer;
}

footer {
  margin-top: 10px;
}

footer div {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #306BF5 !important;
  border: none;
  color: white !important;
  margin-top: 50px;
  /*padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;*/
}

.btn-primary:hover {
  box-shadow: 0px 0px 50px 10px #CCDBFF;
}

.about {
  margin-bottom: 110px;
}

.glyphicon {
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding-right: 10px;
    height: 
  }

.mail{
  width: 18px;
  margin-bottom: 4px;
  margin-right: 10px;
}


/* Customizations of Bootstrap classes */

header .row {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.col-sm-4 p {
  margin: 25px 20px 15px;
  min-width: 60px;
  padding: 1px;
}

section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  height: 350px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/buildawebsite.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron h2 {
  background-color: #FFFFFF;
  display: inline-block;
  color: #F06529;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}

.jumbotron h3 {
  color: #FFFFFF;
  font-weight: bold;
}

.col-sm-2 img {
  min-width: 32px;
  min-height: 33px;
}

/* Customizations of Bootstrap responsive */

@media screen and (min-width: 576px) and (max-width: 768px) {
  .navbar-expand-sm .navbar-nav{
margin-left: auto;
}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-right{
float: inherit !important;
}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
/*.navbar-collapse.collapse {

    display:none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: auto !important;
}
}*/

.show {
    display: block !important;
}

.collapse:not(.show) {
    display: none !important;
}
}


/*@media screen and (min-width: 768px) {
  .navbar-toggler{
display:none;
}
}*/

@media (max-width: 576px){
  .col-xs-4{
    display:none;
  }
}

  @media (max-width: 576px) {
  footer .col-xs-12{
    width: 50%;
    display: flex;
    position: relative;
    margin-top: -70px;
    align-items: center;
    justify-content: center;
}
  }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

@media (max-width: 768px) {

}
/*
/*cette classe est à ajouter lorsque que vous utilisez une version de Bootstap supérieure ou égale à la 3.1.0 */
/*.navbar-collapse.collapse.in {
display: block!important;
}
.collapsing {
overflow: hidden!important;
}
}*/

/* Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

footer.container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}