/**
Fixing bootstrap columns for safari
 */
.row:before, .row:after{
 display: inline-block !important;
}


html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}


/*@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}*/




#logo{
      width: 50%;
      margin-top: -11px;
}



@font-face {
font-family: 'Circular Std Book';
font-style: normal;
font-weight: normal;
src: local('Circular Std Book'), url('CircularStd-Book.woff') format('woff');
src: local('Circular Std Book'), url('CircularStd-Book.ttf') format('truetype');
}

@font-face {
font-family: 'Circular Std Medium';
font-style: normal;
font-weight: bold;
src: local('Circular Std Medium'), url('CircularStd-Medium.woff') format('woff');
src: local('Circular Std Medium'), url('CircularStd-Medium.ttf') format('truetype');
}

strong{
  font-family: 'Circular Std Medium', 'Poppins' sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Circular Std Book','Poppins', sans-serif;
  font-weight: normal;

}

p{
  font-size: 16px;
}

.navbar-brand{
  font-size: 20px;
}

a{
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

/*header nav {
  display: flex;
  justify-content: flex-end;
}*/

.navbar-light .navbar-nav .nav-link.active {
color: #3570F2;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 100px;
    border: 1px solid transparent;
  }

.navbar-nav {
    position: relative;
    display: flex;
    align-items: center;
}

.sr-only{
  color:blue;
}


@media (min-width: 768px) {
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    padding-left: 20px;
}
}

div > h1 {
  font-size: 1.8rem;
}

nav > p {
  cursor: pointer;
}

footer {
  margin-top: 10px;
}

footer div {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 15px;
}

.col-sm-2 {
  width: 40px;
}

.btn-primary {
  background-color: #306BF5 !important;
  border: none;
  color: white !important;
  margin-top: 50px;
  /*padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;*/
}

/*.btn-primary:hover {
  box-shadow: 0px 0px 50px 10px #CCDBFF;
}*/

#contact {
  margin-bottom: 50px;
}

.about {
  margin-bottom: 110px;
}

.glyphicon {
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding-right: 10px;
    height: 
  }

.mail{
  width: 18px;
  margin-bottom: 3px;
  margin-right: 10px;
}

.imageproject{
  position: absolute;
  width: 400px;
  display:block;
  margin-left: 670px;
}

.screen{
  position: relative;
  width: 100%;
  display:block;
  margin:auto;
  margin-bottom: 75px;
}

.back{
  background-color: grey;
}

/* Customizations of Bootstrap classes */

header .row {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.col-sm-4 p {
  margin: 25px 20px 15px;
  min-width: 60px;
  padding: 1px;
}

section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  height: 350px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/buildawebsite.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron h2 {
  background-color: #FFFFFF;
  display: inline-block;
  color: #F06529;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}

.jumbotron h3 {
  color: #FFFFFF;
  font-weight: bold;
}

.col-sm-2 img {
  min-width: 32px;
  min-height: 33px;
}


.lol {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.lol:hover .image {
  opacity: 0.6;
}

.lol:hover .middle {
  opacity: 1;
}


/*HOVER2*/

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.probootstrap-text-overlay{
      margin-bottom: 30px;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

/* Customizations of Bootstrap responsive */

/*@media screen and (min-width: 576px) and (max-width: 768px) {
  .navbar-expand-sm .navbar-nav{
margin-left: auto;
}
}*/

/*@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-right{
float: inherit !important;
}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
.navbar-collapse.collapse {

    display:none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: auto !important;
}
}*/

/*.show {
    display: block !important;
}*/

/*.collapse:not(.show) {
    display: none !important;
}
}*/

.navbar-toggler{
     display: block;
    right: 60px;
    margin: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-toggler{
display: none!important;
}
}

@media screen and (max-width: 768px) {
  #logo{
margin:auto;
}
}

@media (min-width: 768px) and (max-width: 1300px) {
  #paragraph{
margin-top:-50px;
  }
}


@media (max-width: 768px){

#disdiv {
  margin-top: -70px;
}

  .screen{
    margin-bottom:30px;
  }

  #paragraph{
    margin-bottom: 20px;
  }

  #paragraph2 p{
    margin-bottom:20px;
    font-size: 18px;
      }

  #paragraph p{
    font-size: 18px;
    text-align: justify;
  }

  #paragraph h2{
    font-size: 36px;
  }
}

@media (max-width: 576px){
  .col-xs-4{
    display:none;
  }
}

  @media (max-width: 576px) {
  footer .col-xs-12{
    width: 50%;
    display: flex;
    position: relative;
    margin-top: -70px;
    align-items: center;
    justify-content: center;
}
  }

  @media (min-width: 1500px) {
  #aboot {
   margin-top: 496px;
}
  }
@media (max-width: 1300px){
  .mainstuff{
  margin-top: -35px;
}
  #mainabout {
margin-top: -25px;
  }
  #aboot{
    margin-top: -10px;
  }

}

   @media (min-width: 1300px) {
  #aboot1 {
   margin-top: 170px;
}
  }

@media (min-width: 1300px){

#disdiv {
  margin-top: -30px;
}
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

@media (max-width: 768px) {

}
/*
/*cette classe est à ajouter lorsque que vous utilisez une version de Bootstap supérieure ou égale à la 3.1.0 */
/*.navbar-collapse.collapse.in {
display: block!important;
}
.collapsing {
overflow: hidden!important;
}
}*/

/* Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

footer.container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}









#button::-moz-focus-inner { border: 0; }

#button {
  height: 2.4em;
  width: 12em;
  position: relative;
  background: #306BF5;
  border: none;
  border-radius: 6px;
  outline: none;
  transition: all 300ms ease;
  
  color: #fff;
  font-size: 20px;
  font-family: 'Circular Std Book','Poppins', sans-serif !important;
  font-weight: normal;  
  line-height: 1.30;
  margin: auto;
  }

  #button:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center;
    border-radius: 6px;    
    height: 100%;
    width: 100%;
    z-index: -1;
    
    background: repeating-radial-gradient(
      rgba(33,137,232,0.0) 0%,
      rgba(33,137,232,0.15) 50%,
      rgba(33,137,232,0.5) 75%,
      rgba(33,137,232,0.05) 100%
    );
    
    animation: pulse_shadow 2s ease-in-out infinite;
  }
  
 
    /*#button:hover, #button:focus {
    outline: none;
    background: tomato;
    transform: rotate(45deg);
}*/
      #button:after {
        background: repeating-radial-gradient(
          rgba(255,99,71,0.0) 0%,
          rgba(255,99,71,0.15) 50%,
          rgba(255,99,71,0.5) 75%,
          rgba(255,99,71,0.05) 100%
        );    
      }
    }
}


@keyframes pulse_pseudo {
  0% {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
  }
  
  100% {
    opacity: 0;
    transform: translate(-50%,-50%) scale(2.25);
  }
}

@keyframes pulse_shadow {
  0% { box-shadow: 0px 0px 0px 0px rgba(33,137,232,0.25); }
  100% {box-shadow: 0px 0px 3px 30px rgba(33,137,232,0.0); }
}


/*MODAL*/

/*.modal,body.modal-open {
    padding-right: 0!important
}*/

/*body.modal-open {
    overflow: auto
}

body.scrollable {
    overflow-y: auto
}*/

#imgmod{
  width: 170%;
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

#imgmod2{
  width: 170%;
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

#imgmod3{
  width: 170%;
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

#imgmod4{
  /*width: 120%;*/
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#imgmod5{
  width: 120%;
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#imgmod6{
  width: 120%;
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#imgmod7{
  width: 120%;
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#imgmod8{
  width: 120%;
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#imgmod9{
  width: 120%;
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}#imgmod10{
  width: 120%;
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#imgmod11{
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#imgmodf{
   position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
 @media (min-width: 1480px) {
  #imgmod {
   width: 170%;
}
#imgmod2 {
   width: 180%;
}
  
  #imgmod3 {
   width: 200%;
}
#imgmod4 {
   width: 111%;
}
#imgmod5 {
   width: 111%;
}
#imgmod6 {
   width: 180%;
}
#imgmod7 {
   width: 180%;
}
#imgmod8 {
   width: 180%;
}
#imgmod9 {
   width: 180%;
}
#imgmod10 {
   width: 180%;
}
#imgmodf {
   width: 180%;
}
  }

@media (max-width: 1300px) {
  #imgmod {
   width: 115%;
}
#imgmod2 {
   width: 115%;
}
  
#imgmod3 {
   width: 120%;
}
#imgmod4 {
   width: 100%;
}
#imgmod5 {
   width: 100%;
}
#imgmod6 {
   width: 120%;
}
#imgmod7 {
   width: 120%;
}
#imgmod8 {
   width: 120%;
}
#imgmod9 {
   width: 120%;
}
#imgmod10 {
   width: 120%;
}
#imgmodf {
   width: 120%;
}
  }



  @media (max-width: 768px) {
 .image2{
  margin-bottom: 90px;
 }
}


  @media (min-width: 992px) and (max-width: 1300px) {
  .image2 {
   width: 500px;
   margin: auto;
   position: relative;
}
  }

   @media (min-width: 1200px) and (max-width: 1300px) {
  #paragraph {
   width: 70%;
}
  }

   @media (min-width: 1200px) and (max-width: 1300px) {
  #paragraph2 {
   width: 70%;
}
  }

@media (min-width: 1300px) {
  #paragraph p{
   font-size: 21px !important;
}
#paragraph2 p{
   font-size: 21px !important;
}
ul{
  font-size: 21px !important;
}

  }

#paragraph {
  margin-bottom: 45px;
}

#paragraph h2{
  font-size: 50px;
  color: #5DC072;
text-align: center;
margin-top: -15px;
}

#paragraph h3{
  font-size: 33px;
  font-weight: bold;
  color: black;
}

#paragraph h4{
  font-size: 30px;
  font-weight: 400;
  color: black;
}


#paragraph p{
  font-size: 19px;
font-family: 'Questrial', sans-serif;
z-index: 1;
color: #4D5657;
}

#paragraph2 p{
  font-size: 19px;
font-family: 'Questrial', sans-serif;
color: #4D5657;
}

#prolist{
list-style-type: square;
display:block;
font-family: 'Questrial', sans-serif;
font-size:19px;
color: #4D5657;
}

#firstimg{
  margin-top: -10px;
}

/*#wrapper{
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  transform: translate(233%, 22%);
  width: 545px;
}

@media (max-width: 1300px) {
#wrapper {
    position: absolute;
    opacity: 0.7;
    transform: translate(190%, 25%);
    width: 445px;
}
.cluelogo{
width: 75% !important;

}
}

  @media (min-width: 1300px) and (max-width: 1600px) {
  #wrapper {
    position: absolute;
    opacity: 0.7;
    transform: translate(235%, 25%);
    width: 445px;
}
.cluelogo{
width: 75% !important;

}
  }

    @media (min-width: 1600px) and (max-width: 1900px) {
  #wrapper {
    position: absolute;
    opacity: 0.7;
    transform: translate(255%, 15%);
    width: 445px;
}
}

   @media (min-width: 1900px) and (max-width: 2000px) {
  #wrapper {
    position: absolute;
    opacity: 0.7;
    transform: translate(273%, 15%);
    width: 445px;
}
.cluelogo{
width: 110% !important;

}
}

 @media (min-width: 2000px) and (max-width: 2400px) {
  #wrapper {
    position: absolute;
    opacity: 0.7;
    transform: translate(293%, 15%);
    width: 445px;
}
.cluelogo{
width: 110% !important;

}
}

 @media (min-width: 2400px) and (max-width: 2600px) {
  #wrapper {
    position: absolute;
    opacity: 0.7;
    transform: translate(320%, 15%);
    width: 445px;
}
.cluelogo{
width: 110% !important;

}
}

 @media (min-width: 2600px) and (max-width: 3500px) {
  #wrapper {
    position: absolute;
    opacity: 0.7;
    transform: translate(370%, 15%);
    width: 445px;
}
.cluelogo{
width: 110% !important;

}
}

.cluelogo{
width: 95%;
height: 50%;
  
    margin-left: 0px;

}
*/

.modal-footer {
  display: none;
  justify-content: flex-start;
  .btn {
    position: absolute;
    right: 10px;
  }
}

